<!doctype html>
<html>
<head>
  <title>VeganHub</title>
<!-- <script src="https://code.jquery.com/jquery.js"></script> -->
</head>
<body>
<script src="https://code.jquery.com/jquery.js"></script>

<h1>Welcome!</h1>
    <form action="/handle-search" method="POST">
        
        <input type="text" name="Search" placeholder="Enter your search here.." required>
        
        <select name="search_type">
              <option value="None">-----</option>
              <option value="Restaurants" id="Restaurants">Restaurants</option>
              <option value="Drinks">Drinks</option>
              <option value="Products">Products</option>
        </select>

        <div id="zipcode"><input type="text" name="zipcode"><div/>
        <!-- $("#zipcode") -->
        
        <input type="submit" value="Go!" id="search_button">

<!--     $("#show").click(function(){
        $("zipcode").show();
    }); -->

    var zipcode = document.getElementById('zipcode');

    function displayButton(evt) {
    }

    zipcode.addEventListener('click',show;)

    console.log(zipcode);

    </form>


<!-- <p>Your results: {{ data }} </p> -->

</body>
</html>