{% extends 'base.html' %}

{% block content %}


<div class="container">


    <div class="form-group row">
        <form class="form-inline" action="/handle-search" method="POST">
            <div class="col-md-8 col-md-offset-2">
                <select class="form-control" name="search_type" onchange="check(this);">
                    <option value="None">Make a selection</option>
                    <option value="Restaurants" id="Restaurants">Restaurants</option>
                    <option value="Drinks">Drinks</option>
                </select>
                
                <input class="form-control"type="text" name="Search" placeholder="Enter your search here.." required>
        
                <div id="zipcode" style="display: none;">
                    <input class="form-control" type="text" name="zipcode" placeholder="location">
                </div>
        
                <button type="submit" value="Go!" id="search_button"><span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </form>
    </div>
</div>

    <script>

    function check(that) {
        if (that.value == "Restaurants") {
            document.getElementById("zipcode").style.display = "inline";
        } else {
            document.getElementById("zipcode").style.display = "none";
        }
    }
    </script>

{% endblock %}