{% extends 'base.html' %}

{% block content %}

<h2>Your results for <em>{{ term }}</em> in <em>{{ location }}</em> </h2>

<div>
<script>
//Function that takes data which is json file we are passing in. 
function test_func(data) {
    // document.write(JSON.stringify(data));
    //here, we are getting the keys from our json file(named data)
    for (i in data){
        //here we are printing out the name of the company (first nest 
        //of our json file...)
        document.write("Name of the company:", i);
        //Declaring the key to the company name in our json
        var key = i;
        //Extract another JSON obj for the key in our json at the
        //company name
        var val = data[i];
        //Uing this for loop to get to the keys and values for everything
        //in our json file At "Company Name"
        for(item in val){
            //here we are declaring a new key to "item"
            var sub_key = item;
            //Declaring a new value for the value At the current Item
            var sub_val = val[item];
            //Printing keys and values onto our page.
            document.write(" KEYS:  " + sub_key + " Values:  " + sub_val + " ");
        }
    }
}
//we are putting our data (a jinja var) with "safe" which will avoid
//the risk of a variable to include char affecting the resulting html
test_func({{ data|safe }});

</script>
</div>

{% endblock %}
